/* Mobile First */

/* Conteúdo Mobile */
.conteúdo {
    display: flex;
    flex-direction: column;

    margin: 2em 1em;
    padding: 2em;
    gap: 3em;

    background: linear-gradient(to bottom right, var(--black), var(--dark-gray), var(--black));
    border-radius: 8px;
    border: 3px solid var(--white);
}

.conteúdo__div1 {
    margin: 0 auto;
    padding: 0.5em 2em 0.25em 2em;

    background-color: var(--white);
    border-radius: 10px;
}

.conteúdo__div1 img {
    width: 30vmin;
}

.conteúdo__div2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    margin: 0 auto;
}

.botao {
    padding: 0.75em 0;
    width: 7em;

    border: none;
    border-radius: 4px;

    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;

    font-family: var(--font1);
    font-weight: 600;

    color: var(--black);
    background: linear-gradient(to bottom, var(--white), var(--light-gray));
}

.botao:active {
    background: linear-gradient(to bottom, var(--light-gray), var(--gray));
}

/*
#ligar {}
*/

/*
#desligar {}
*/

/* Fim - Conteúdo Mobile */